@font-face {
  font-family: "iconfont"; /* Project id 1857701 */
  src: url('fonts/iconfont.woff2?t=1628343109721') format('woff2'),
       url('fonts/iconfont.woff?t=1628343109721') format('woff'),
       url('fonts/iconfont.ttf?t=1628343109721') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user1:before {
  content: "\e636";
}

.icon-star:before {
  content: "\e671";
}

.icon-left:before {
  content: "\e610";
}

.icon-jihe:before {
  content: "\e6a5";
}

.icon-shoucang:before {
  content: "\e7a7";
}

.icon-guanbi:before {
  content: "\e6c9";
}

.icon-liebiao:before {
  content: "\e61e";
}

.icon-emizhongzi:before {
  content: "\e64a";
}

.icon-sheji:before {
  content: "\e65e";
}

.icon-zan:before {
  content: "\e839";
}

.icon-dc-icon-zhongzidujiaoshou:before {
  content: "\e626";
}

.icon-yinle:before {
  content: "\e630";
}

.icon-search:before {
  content: "\e616";
}

.icon-case:before {
  content: "\e603";
}

.icon-about:before {
  content: "\e604";
}

.icon-home:before {
  content: "\e605";
}

.icon-user:before {
  content: "\e607";
}

.icon-zhuanjia:before {
  content: "\e63b";
}

.icon-tikuguanli:before {
  content: "\e60d";
}

.icon-cuowu:before {
  content: "\e606";
}

.icon-ic_account_line:before {
  content: "\e609";
}

.icon-ic_camera_line:before {
  content: "\e60c";
}

.icon-lanya:before {
  content: "\e627";
}

.icon-lanya1:before {
  content: "\e642";
}

